{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Wastewater Watching {% endblock %}</h1>
    <p>We are Wastewater Watching, a group dedicated to tracking nuclear wastewater disposal around the world.</p>
    <img src="{{url_for('static', filename='images/ethandon.jpeg')}}" alt="Ethan Don headshot." style="width:30%">
    <img src="{{url_for('static', filename='images/maxshi.jpeg')}}" alt="Max Shi headshot." style="width:30%">
    <img src="{{url_for('static', filename='images/ericxu.jpeg')}}" alt="Eric Xu headshot." style="width:30%">
{% endblock %}