{% extends 'base.html' %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <div class="header">
            <h1>WASTEWATER WATCHING</h1>

        </div>
        <title>Wastewater Watching front page</title>
    </head>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <img src="{{url_for('static', filename='images/background.jpeg')}}" alt="Wastewater Watching simple background" style="width:80%">
        </div>
    </div>
{% endblock %}