{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Wastewater Watching {% endblock %}</h1>
    <p>Here is the news!</p>
    <head>
        <meta charset="UTF-8">
        <title>News Headlines</title>
    </head>
    <body>
        <h1>Latest News Headlines</h1>
        <ul>
            {% for headline in headlines %}
            <li style="font-size:large"><a href="">{{ headline }}</a></li>
            {% endfor %}
            {% for links in links %}
            <li></li>
            {% endfor %}
        </ul>
    </body>
{% endblock %}