{% extends 'base.html' %}

{% block content %}
    <p></p>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
        <p>&nbsp;</p>
        <ul>
            
            {% for i in range(headlines|length) %}
                <h2 style="font-size:large;"><a href="{{links[i]}}">{{ headlines[i] }}</a></h2>
                <hr>
            {% endfor %}
            {% for i in range(headlines|length) %}
                <h2 style="font-size:small;"><a href="{{links[i]}}">{{ headlines[i] }}</a></h2>
                <hr>
            {% endfor %}
            {% for i in range(headlines|length) %}
                <li style="font-size:large;"><a href="{{links[i]}}">{{ headlines[i] }}</a></li>
                <hr>
            {% endfor %}
        </ul>
    </body>
{% endblock %}