{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Welcome {{ name }} {% endblock %}</h2>

    <div class="container">
        
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">Browse Topics</h4>
            {% for topic in topics %}
            <div class="d-flex text-muted pt-3">
              <p class="pb-3 mb-0 border-bottom">
                <strong class="d-block text-gray-dark"><a href="/forum/topic/{{topic.id}}">{{topic['title']}}</a> By: {{topic['user']}}</strong>
                {{topic['description']}}
              </p>
            </div>
            {% endfor %}
        </div>

        <a href="/forum/newtopic">
          <button type="button" class="btn btn-primary">Make a New Topic</button>
        </a>
    </div>
{% endblock %}