{% extends 'base.html' %}

{% block content %}
    <div class="container">
        
        
        <!--<h2>{{topic['title']}}</h2>
        <p>{{topic['description']}}</p>
        <p>{{topic['user']}}</p>-->
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">{{topic['title']}}</h6>
            <div class="d-flex pt-3">
              <p class="pb-3 mb-0 border-bottom">
                <strong class="d-block text-gray-dark">By: {{topic['user']}}</strong>
                {{topic['description']}}
              </p>
        </div>
            
        </div>

        <h4>Comments</h4>
        <div class="container-fluid">
            {% for comment in comments %}
            <div class="row">
                <div class="col-1">
                    <strong>{{comment['user']}}:</strong>
                </div>
                <div class="col">
                    <p class="border-bottom">{{comment['text']}}</p>
                </div>
            </div>
            
            {% endfor %}
        </div>

        <h5>Add a Comment</h5>
        <form action="/forum/topic/{{topic.id}}" method="post">
            <div class="mb-3">
                <input type="text" name="text" class="form-control" id="text" aria-describedby="textContent">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        
    </div>
{% endblock %}