{% extends 'base.html' %}

{% block content %}

    <h2>{% block title %} Welcome {{ name }} {% endblock %}</h2>

    <div class="container">

        <h2>Add a Topic</h2>
        
        <form action="/forum/newtopic" method="post">
            <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
{% endblock %}